
.app-header {
    background-color: #18181F !important;
  }
  
  
  .main-header {
    background-color: #18181F !important;
    height: 60px;
    line-height: 60px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .App-logo {
    height: 50px;
    width: 50px;
    float: left;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .title {
    line-height: 64px !important;
    display: inline;
    color: #ffffff !important;
  }
  

  .main-menu {
    background-color: #ffffff !important;
    color: #18181F !important;
  }