
.app-header {
  /* height: 10%; */
  background-color: #18181F !important;
}


.header {
  background-color: #18181F !important;
  height: 15% px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.header-main {
  width: 88%;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

img {
padding-right: 10px;
}


.header-title {
color: #ffffff !important;
}


.main-menu {
background-color: #ffffff !important;
color: #18181F !important;
}

.menu-container {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-item{
  height: 70px;
  width: 70px;
  color: rgb(66, 62, 62);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}

.menu-item:hover {
  color: white;
  background: linear-gradient(to bottom, #F08331, transparent);
}

.address-block {
  border-radius:16px;
  text-align:center;
  padding: 2px 2px 5px 2px;
  width: 138px;
  height: 20px;
  color: #ffffff;
  border: 2px solid #E1E3E7;
  cursor: pointer;
}

